body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #42A324; 
    color: white; 
    text-align: center; 
}


header {
    padding: 20px;
}


nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 30px auto;
    width: 80%;
}


.project img {
    width: 200px;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 10px;
}


form {
    margin: 0 auto;              
    width: 300px;
    padding: 15px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    text-align: left;            
}

/* Inputs and textarea */
input, textarea {
    width: 100%;                 
    margin: 5px 0;
    border: none;
    border-radius: 3px;
}

/* Button */
button {
    display: block;              /* make button occupy its own line */
    width: 100%;                 /* fill form width */
    background-color: white;
    color: #42A324;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #d8ffd8;
}
